.admitBtn {
  outline: none;
  border: none;
  padding: 5px 20px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #32b851;
  color: #ffffff;
}

.admitBtn:hover {
  background-color: #45d667;
}

.admitBtn:disabled {
  opacity: 0.5;
}