.menuNav {
  height: 90%;
  overflow: auto;
}

.menuNav::-webkit-scrollbar {
  width: 7px;
}

.menuNav::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 5px;
}

.menuNav::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

.menuNavList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}


