
.spreadsheet {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
}

.spreadsheet tr th,
.spreadsheet tr td {
  padding: 13px 0;
  border: none;
  border-bottom: 1px solid #eeeeee;
}

.spreadsheet tr th:first-child,
.spreadsheet tr td:first-child {
  text-align: left;
  padding-left: 20px;
  width: 58%;
}

.spreadsheet tr th:not(:first-child),
.spreadsheet tr td:not(:first-child) {
  text-align: center;
  width: 14%;
}

.spreadsheet tr td {
  font-size: 14px;
}