.closedTablesContainer {
  padding: 30px;
  position: relative;
}

.closedTablesTitle {
  text-align: center;
}

.daySection {
  padding: 20px 0;
  border-bottom: 1px solid black;
}

.closedTablesList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.averageCheck {
  padding-top: 15px;
}