.menuNavigation {
  height: 220px;
  overflow: auto;
  font-size: 14px;
}

.menuNavigationMain {
  background-color: #264653;
  border-bottom: 15px solid #19343f;
}

.menuNavigationAdditive {
  background-color: #6a3a4f;
  border-bottom: 15px solid #503143; 
}

.menuList {
  display: flex;
  flex-basis: auto;
  flex-wrap: wrap;
  padding: 0 20px;
  gap: 10px;
}

.menuItem {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100px;
  height: 100px; */
  width: 80px;
  height: 80px;
  background-color: #FFFF3F;
  cursor: pointer;
  text-align: center;
  border-radius: 15px;
  user-select: none;
  border: none;
  outline: none;
  padding: 5px;
}

.menuItemGoBackToHome {
  background: #a8dadc url("../../assets/img/home.svg") no-repeat center center;
  background-size: 30px 30px;
}

.menuItemGoBack {
  background: #a8dadc url("../../assets/img/arrow_return_left_icon_160458.svg") no-repeat center center;
  /* background-size: 30px 30px; */
  background-size: 20px 20px;
}
