.addNewTableBtn {
  position: fixed;
  right: 50px;
  bottom: 50px;
  background-color: chartreuse;
  font-size: 72px;
  z-index: 500;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  cursor: pointer;
  text-align: center;
  line-height: 80px;
  color: #fff;
  transition: .2s transform
}

.addNewTableBtn:hover {
  transform: scale(1.2);
  transition: .2s transform
}