.orderContainer {
  margin-bottom: 60px;
}

.orderHeader,
.orderFooter {
  display: flex;
  margin: 0 10px;
  justify-content: space-between;
  align-items: center;
  background-color: #438de2;
  color: #ffffff;
  padding: 5px 15px;
}

.orderHeader {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.orderFooter {
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}