.newOrder {
  display: flex;
  flex-direction: column;
  width: 35%;
  min-height: 100%;
  border-left: 2px solid #264653;
}

.newOrderHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  text-align: center;
  background-color: #ffff3f;
}

.newOrderTableContainer {
  padding: 15px 10px;
  height: 80%;
  display: flex;
  justify-content: center;
  overflow: auto;
}


.newOrderFooter {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  height: 10%;
  margin-bottom: 5px;
}

.tableOrderChangeCount {
  font-size: 28px;
  cursor: pointer;
  padding: 0 10px;
  border: none;
  outline: none;
  background: transparent;
}

.tableOrderDeleteIcon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../../assets/img/icons8-delete.svg") no-repeat center center;
  background-size: 25px 25px;
  cursor: pointer;
}

.sumTotal {
  text-align: end;
  padding-top: 20px;
}

.btn {
  border: none;
  outline: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 14px;
}

.btn:disabled {
  opacity: 0.5;
}

.runOrderBtn {
  background-color: lawngreen;
}

.resetOrderBtn {
  background-color: #f94144;
}