.filterByCategoryForm {
  margin-bottom: 2em;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem
}

.filterLable {
  display: block;
  padding: .5em .5rem;
  background-color: #D8DBE6;
  cursor: pointer;
  border-radius: 5px;
  user-select: none;
}

.filterRadio:checked + .filterLable{
  background-color: #FFFF3F;
}

.filterRadio {
  display: none;
}
