.btnDanger {
  background-color: #F94144;
  border: none;
  outline: none;
  min-width: 170px;
  height: 50px;
  cursor: pointer;
  border-radius: 15px;
  font-weight: bold;
  color: #fff;
}

.btnDanger:hover {
  background-color: #f25c54;
}