.tableOrderContainer {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 38%;
}

.spreadsheetContainer {
  flex-grow: 1;
  overflow: auto;
  padding-top: 10px;
}

.spreadsheetContainer::-webkit-scrollbar {
  width: 5px;
}

.spreadsheetContainer::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 5px;
}

.spreadsheetContainer::-webkit-scrollbar-thumb {
  background: #8e96a1 ;
}

.spreadsheet {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
}

.spreadsheet tr th,
.spreadsheet tr td {
  padding: 13px 0;
  border: none;
  border-bottom: 1px solid #eeeeee;
}

.spreadsheet tr th:first-child,
.spreadsheet tr td:first-child {
  text-align: left;
  padding-left: 20px;
  width: 58%;
}

.spreadsheet tr th:not(:first-child),
.spreadsheet tr td:not(:first-child) {
  text-align: center;
  width: 14%;
}

.spreadsheet tr td {
  font-size: 14px;
}

