.errorPageContainer {
  width: 100vw;
  height: 100vh;
  background-color: #D8DBE6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorPageMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.goBackBtn {
  outline: none;
  cursor: pointer;
  padding: 10px;
  background-color: #FAFAFA;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

.goBackBtn:active {
  outline: none;
  background-color: #dee2ff;
}