.myOrdersBoard {
  height: 100%;
  overflow: auto;
}

.myOrdersList {
  padding: 1.2em 1.2rem;
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  gap: 1em;
}

.myOrdersBoard::-webkit-scrollbar {
  width: 10px;
}

.myOrdersBoard::-webkit-scrollbar-track {
  background: #dddddd;
  border-radius: 5px;
}

.myOrdersBoard::-webkit-scrollbar-thumb {
  background: #264653;
  border-radius: 5px;
}
