.myOrdersHeader {
  padding: 20px 40px;
  margin-bottom: 50px;
}

.myOrdersCount strong{
  margin-left: 10px;
  font-size: 21px;
}

.myOrdersBoard {
  padding-left: 2%;
  height: 100%;
  overflow: auto;
}

.myOrdersList {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  gap: 15px;
}

.myOrdersBoard::-webkit-scrollbar {
  width: 10px;
}

.myOrdersBoard::-webkit-scrollbar-track {
  background: #dddddd;
  border-radius: 5px;
}

.myOrdersBoard::-webkit-scrollbar-thumb {
  background: #264653;
  border-radius: 5px;
}
