.board {
  position: relative;
  width: calc(100% - 360px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1em;
}

.warningContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}