.board {
  position: relative;
  width: calc(100% - 360px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.warningContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
}