.menuHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-row: 1fr;
  grid-template-areas: "back title search";
}

.activeSearch {
  grid-template-areas: "search search search";
  padding: 10px 0;
  position: relative;
}

.goToContainer {
  grid-area: back;
  display: flex;
  align-items: center;
}

.goToBtn {
  color: #666666;
  font-size: 16px;
  outline: none;
  padding-left: 25px;
  border: none;
  cursor: pointer;
}

.goBackBtn {
  background: transparent url("../../assets/img/left-arrow-black.svg") no-repeat left center;
  background-size: 17px 17px;
  margin-right: 20px;
}

.goHomeBtn {
  background: transparent url("../../assets/img/menu.svg") no-repeat left center;
  background-size: 17px 17px;
}

.headerTitleContainer {
  grid-area: title;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #373D46;
  font-size: 18px;
}

.serachContainer {
  grid-area: search;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.searchBtn {
  width: 60px;
  height: 35px;
  outline: none;
  border: none;
  border-radius: 5px;
  background: #ffffff url("../../assets/img/search.svg") no-repeat center center;
  background-size: 20px 20px;
  cursor: pointer;
}

.searchInput {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #556275;
  outline: none;
  padding-right: 40px;
  padding-left: 10px;
  font-size: 16px;
}

.searchInput:active {
  outline: none;
}

.closeSearch {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent url("../../assets/img/cancel.svg") no-repeat center center;
  background-size: 10px 10px;
}

.closeSearch:hover {
  transform: scale(1.2);
}