.operationContainer {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid #eeeeee;
  gap: 20px;
}

.operationBtn {
  height: 35px;
  background-color: #4085d4;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  vertical-align: middle;
  font-size: 16px;
}

.operationBtn:hover {
  background-color: #438de2;
}

.sendOrderContainer {
  margin-bottom: 10px;
}

.sendOrderBtn {
  width: 80%;
  border-right: 1px solid #2981c9;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.sendOrderModificationBtn {
  width: 20%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background: #4085d4 url("../../assets/img/dots.svg") no-repeat center center;
  background-size: 30px 30px;
}

.totalPriceContainer {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.footerOperationContainer {
  justify-self: flex-end;
  display: flex;
  padding: 10px 0;
}

.footerOperationBtn {
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  vertical-align: middle;
  border-radius: 4px;
}

.additionalOptionsBtn {
  background: #ffffff url("../../assets/img/moreblack.svg") no-repeat center
    center;
  background-size: 20px 20px;
  width: 90px;
  border: 1px solid #94bdeb;
  margin-right: 10px;
}

.printBtn {
  width: 90px;
  border: 1px solid #94bdeb;
  background: #ffffff url("../../assets/img/printer.svg") no-repeat center
    center;
  background-size: 20px 20px;
}

.additionalOptionsBtn:hover,
.printBtn:hover {
  background-color: #eeeeee;
}

.closeTableBtn {
  margin-left: auto;
  border: none;
  color: #ffffff;
  background-color: #32b851;
  font-size: 16px;
  font-weight: bold;
  width: 200px;
}

.closeTableBtn:hover {
  background-color: #45d667;
}