.productContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconContainer {
  display: flex;
  margin-right: 10px;
  gap: 10px;
}

.commentAvailable {
  width: 20px;
  height: 20px;
  background: url("../../assets/img/warning.svg") no-repeat center center;
  background-size: 18px 18px;
  cursor: help;
}

.orderTime {
  width: 20px;
  height: 20px;
  background: url("../../assets/img/clock.svg") no-repeat center center;
  background-size: 18px 18px;
  cursor: help;
}

.addAdditive {
  width: 20px;
  height: 20px;
  background: url("../../assets/img/add-goods.svg") no-repeat center center;
  background-size: 18px 18px;
  cursor: pointer;
}

.addComments {
  width: 20px;
  height: 20px;
  background: url("../../assets/img/keybor.svg") no-repeat center center;
  background-size: 20px 20px;
  cursor: pointer;
}

.commentContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.commentArea {
  padding: 5px;
  resize: vertical;
  max-width: 90%;
}

.closeCommentArea {
}

.tableOrderDeleteIcon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../../assets/img/icons8-delete.svg") no-repeat center center;
  background-size: 20px 20px;
  cursor: pointer;
}

.tableOrderChangeCount {
  font-size: 24px;
  cursor: pointer;
  padding: 0 5px;
  border: none;
  outline: none;
  background: transparent;
}

.activeProduct {
  background-color: #b194a0;
}

