.NewOrderPopup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0,0,0,0.5);
  z-index: 3000;
}

.newTableContainer {
  width: 300px;
  background-color: lemonchiffon;
  padding: 30px;
  text-align: center;
  border-radius: 15px;
  background-color: #264653;
  color: #fff;
}

.newTableForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
}

.newTableInput {
  text-align: center;
  min-width: 40px;
  border: none;
  outline: none;
  padding: 15px 20px;
  border-radius: 15px;
  width: 150px;
  height: 30px;
}

.newTableBtn {
  border: none;
  outline: none;
  padding: 15px 20px;
  border-radius: 15px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

.createNewTable {
  background-color: chartreuse;
}

.createNewTable:disabled {
  opacity: .5;
}

.cancelNewTable {
  background-color: #F94144;
}

.cancelNewTable:disabled {
  opacity: .5;
}