.orderItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 185px;
  min-height: 170px;
  border-radius: 15px;
  font-size: 14px;
  cursor: pointer;
  transition: .2s transform;
  padding: 10px;
  background-color: #FFFF3F;
}

.orderItem:hover {
  transform: scale(1.1);
  transition: .2s transform
}

.orderItem strong {
  font-size: 16px;
  margin-left: 5px;
}

.orderItemTableNumber {
  font-size: 36px;
  text-align: center;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
}

.orderItemInfo {
  margin-bottom: 10px;
}