.container {
  min-height: 100%;
  background-color: #ffffff;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 40000;
  padding: 30px;
}

.header {
  position: relative;
}

.btn {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 10px 10px;
  cursor: pointer;
}

.closeBtn {
  font-size: 28px;
  position: absolute;
  right: 10px;
  top: 0;
}

.tableOrder {
  width: 70%;
  border-collapse: collapse;
}

.tableOrdered th,
.tableOrdered td {
  padding: 10px 10px;
}

.sumTotal {
  text-align: end;
  padding-top: 20px;
}
